<%- include ("partials/header")  %>

<div class="container">
    <form action="/punchline-send" method="POST">
        <input class="mysterious_input" type="text" name="name" placeholder="Say anything..." />
    </form>
</div>

<%- include ("partials/footer") %>