<%- include ("partials/header")  %>

<div class="container">
    <div class="dad-bot-content">
        <img class="dad-bot-logo" src="images/dad-bot-banner-transparent.png" alt="Dad Bot Logo" />
    </div>
    <footer>
        <p>© Edgar Jr San Martin 2021</p>
        <a href="https://github.com/ej-sanmartin/dad-bot" target="_blank">Github</a>
    </footer>
</div>

<%- include ("partials/footer") %>