@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');

@media only screen
    and (max-device-width: 400px)
    and (orientation: portrait){

    .footer-container {
        margin-top: 2.5em;
        flex-direction: column;
    }

    .mysterious_input {
        max-height: 6vh;
        min-width: 45vw;
        font-size: 2em;
    }

    .dad-bot-content {
        padding-top: 8em;
    }

    .dad-bot-logo {
        min-width: 100vw;
        margin-bottom: 1em;
    }
}

html, body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif; /* lol Roboto font for Dad BOT's site... I need sleep rofl */
    color: rgba(0, 0, 0, .6);
    height: 100vh;
    overflow-x: hidden;
}

::-moz-selection {
    background-color: grey;
}

::-webkit-selection {
    background-color: grey;
}

::selection {
    background-color: grey;
}

.mysterious_input {
    height: 15vh;
    width: 30vw;
    font-size: 3em;
    padding: .5em 1em;
    border-radius: 15px;
    border-color: white;
}

.mysterious_input:focus {
    outline: none;
}

input[type="text"]{
    color: rgba(0, 0, 0, .6);
}

.container {
    margin: 0 auto;
    min-height: 100vh;
    max-width: 80vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    animation-name: fade-in-from-above;
    animation-duration: 700ms;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
}

.joke-name {
    text-align: center;
    font-size: 4em;
    font-weight: bold;
    margin-top: -.5em;
    letter-spacing: .15em;
    overflow-wrap: break-word;
}

.footer-container {
    width: 80vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.dad-bot-content {
    padding-top: 10em;
    flex: 1;
}

.dad-bot-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    max-width: 100vw;
}

footer {
    padding: 1em;
    opacity: 0;
    animation-name: fade-in-from-above;
    animation-delay: 1500ms;
    animation-duration: 700ms;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
}

footer a {
    color: inherit;
    text-decoration: none;
}

footer a:hover {
    opacity: .5;
}

@keyframes fade-in-from-above {
    0% {
        opacity: 0;
        margin-top: -30%
    }

    100% {
        opacity: .9;
        margin-top: 0;
    }
}